body {
    background-image: url("batman2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    color: white;
}

header {
    width: 100%;

}

    .page-title {
        text-align: center;
    }

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

    #movie-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    .movie-container {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 30%;
        margin: 0 auto;
    }

        .movie-title {
            font-size: 2em;
            font-weight: bold;
            text-shadow: 3px 3px 4px black;
            padding: 1em;
            width: 100%;
        }

        .movie-information {
            text-shadow: 3px 3px 4px black;
            width: 100%;
            text-align: right;
        }


        .modal {
            position: fixed;
            top: 1em;
            left: 5%;
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            justify-self: center;
            margin: 0 auto;
        }
        
            .movie-modal-container {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-self: center;
                align-self: center;
                max-width: 450px;
            }



                .movie-modal-title {
                    text-align: center;
                    font-size: 2em;
                    width: 100%;
                    background: rgba(0, 0, 0, .25);
                }

                .close {
                    position: absolute;
                    top: 1em;
                    right: 1em;
                    border: 1px solid yellow;
                    background: black;
                    color: yellow;
                }

                .movie-modal-information {
                    background: rgba(0, 0, 0, .5);
                    padding: 1em;
                }

                .movie-modal-credits {
                    background: rgba(0, 0, 0, .5);
                    padding: 0.5em;
                }

                .movie-modal-plot {
                    text-align: center;
                    padding: 1em;
                    background: rgba(0, 0, 0, .35);
                }

                .movie-modal-awards {
                    background: rgba(0, 0, 0, .7);
                    padding: 1em;
                }

                .movie-modal-rating {
                    padding: 1em;
                    background: rgba(0, 0, 0, .35);
                }

        .movie-poster {
            box-shadow: 1px 1px 10px 2px rgba(255, 255, 255, 0.3);
            width: fit-content;
            margin: 0 auto;

        }

footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    padding: 3em;
}

@media screen and (max-width: 780px) {

    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    .movie-title {
        padding: 0;
    }

    .movie-container {
        margin: 0 auto;
        width: 100%;
    }

    .movie-title {
        width: 100%;
        text-align: center;
        font-size: 2em;
        font-weight: normal;
        text-shadow: 3px 3px 1px black;
    }

    .movie-modal-container {
        width: 100%;
        margin: 0 auto;
        left: 5%;
    }

    .movie-modal-information {
        width: 100%;
    }
    .movie-modal-title {
        font-size: 1.5em;
    }

    .movie-modal-plot {
        
    }

    .movie-poster {
        margin: 0 auto;
    }
}

@media screen and (min-width: 781px) {
    .movie-modal-container {
        width: 50%;
    }

    .movie-poster {
        padding: 1em;
    }
}